body{
    background-image: linear-gradient(to right, rgb(142, 202, 230), yellow);
}
ul{
    height: 100%;
}
li{
    height: 100%;
    background-color: aqua;
    list-style: none;
    display: inline-block;
}
nav{
    height: 20px;
    background-color:  red;
}
h1{
    border-bottom: 10px solid black;
    border-top: 10px solid red;
    border-left: 10px solid purple;
    border-right: 10px solid green;
    padding-bottom: 20px ;
	padding-top: 5p;
	padding-left: 10px s;
	padding-right: 15px ;
    margin: 5px;
}
p{
    border: 10px solid black ; 
}
/* button{ */
    /* border: 10px solid red; */
/* } */
a{
    border: 10px solid red;
}
.btn{
    /* border: 10px solid red; */
    /* border radius is use for to give round shape to the button */
    color: blue;
    /* border-radius: 30%; */
    cursor: default;
    border-top-left-radius: 25%;
    border-bottom-right-radius:25% ;
    padding-bottom: 13px;
	padding-top: 17px;
	padding-left: 15px;
	padding-right: 12px;
}