nav{
    background-color: #004b80;
    font-family: "Encode Sans",Verdana,sans-serif;
    font-size: 15px;
    font-weight: 400;
}
li{
    padding: 8px;
    list-style: none;
    color: white;
    display: inline-block;
    font-size: 15px;
    /* align-items: center; */
}
ul{
    /* list-style: none; */
    /* margin: 0; */
    padding: 0;
}
button{
    width: 25px;
    height: 18px;
    position: end;
}
img{
    cursor: pointer;
}
/* body{
    padding: 20px;
} */
.content{
    width: 100%;
    display: flex;
}
/* .data{
    /* border: 2px solid black; */
    /* background-color: yellow; */
*/
#adr{
    height: 5cm;
    float: right;
    width: 13%;
    background-color: rgb(232, 228, 228);
    text-align: right;
}
#adl{
    height: 5cm;
    float: left;
    width: 13%;
    background-color: rgb(232, 228, 228);
}
#blog{
    /* float: center; */
    /* margin: auto; */
    width: 70%;
    clear: both;
    padding: 20px;
}
img{
    color: aliceblue;
}
i{
    color: aliceblue;
}